<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @sampling_type.nombre %>
</p>

<%= link_to 'Edit', edit_sampling_type_path(@sampling_type) %> |
<%= link_to 'Back', sampling_types_path %>
